/* Style Sheet */
h1 {
	text-align: center;
	font-family: Tahoma, Geneva, sans-serif;
}

#board-container{
	width: 450px;
	height: 450px;
	margin: 20px auto;
}

.box {
	width: 120px;
	height: 120px;
	border: 1px solid #ccc;
	margin: 0 5px 5px 0;
	display: inline-block;
}

.xBox {
	background-color: red;
}

.oBox {
	background-color: blue;
}

#game_msg {
	width: 450px;
	margin: 20px auto;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 24px;
	height: 32px;
	text-align: center;
}